/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.owner-img img {
  min-height: 420px !important;
  object-fit: cover !important;
}

footer a:hover {
  color: #ea4027 !important;
}

.facet_filters .facet-wrap > strong {
  color: #ea4027 !important;
  border-color: #ea4027 !important;
}
.product-box h1 {
  font-size: 32px !important;
}
.display_none {
  display: none;
}
.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}

.gform_body .gfield {
  padding-right: 15px !important;
}

ul.storename {
  list-style: none !important;
  padding: 0px !important;
}

.brandSlider .uabb-image-carousel .slick-track {
  display: flex;
  align-items: center;
}

.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0px;
  max-width: 600px !important;
  width: 600px !important;
  padding: 5px 20px;
}

.jabaras_home_banner .slider-menu {
  height: 0px !important;
  display: none !important;
}

.topNumber .storename {
  list-style: none !important;
  padding: 0px !important;
}

.topNumber .fl-rich-text {
  display: flex;
  justify-content: flex-end;
}

.topBar .uabb-text-editor > p,
.topBar .fl-rich-text > p,
.topBar .fl-rich-text > ul {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.fl-rich-text > p {
  margin-bottom: 0px !important;
}

.topBar .fl-icon-wrap:hover *,
.topBar .fl-icon-wrap:hover i:before {
  color: #ea4027 !important;
}

.custom_searchHeader .fl-icon:hover {
  cursor: pointer;
}

.footer .storename .phone a > span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

.footer .storename .address a > p {
  margin-bottom: 0px !important;
  display: inline-block;
  margin-left: 5px !important;
}

.footer .storename .address > a:before {
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

.topBarTwo {
  display: none !important;
}

.gfield .gfield_select {
  margin-top: 0px !important;
}

.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gfield
  .ginput_container_select
  > select {
  margin-top: 0px !important;
}

.gfield .ginput_container_select > select {
  background-color: #f7f7f5 !important;
  outline: none !important;
}

.gform_wrapper textarea.large {
  height: 220px !important;
  width: 100%;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
}

.gform_wrapper .gfield .ginput_container_checkbox label > a {
  color: #ea4027 !important;
}

.gform_wrapper .gfield .ginput_container_checkbox label > a:hover {
  color: #000 !important;
}

.gform_wrapper.gf_browser_safari .gfield_checkbox li input,
.gform_wrapper.gf_browser_safari .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_safari .gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
}

.featured-products .arrow.slick-next.slick-arrow {
  right: -5px !important;
}

.featured-products .arrow.slick-prev.slick-arrow {
  left: -05px !important;
}

header .nav-link {
  color: #1b1b1b !important;
}

.copyRightBar p > span {
  font-size: 11px !important;
}

/*Filter Select Design*/

.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #ea4027;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #ea4027;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 600;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #191919;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #ea4027 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border: 1px solid #fff !important;

}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #ea4027 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #ea4027 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #ea4027 !important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #1b1b1b!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #ea4027!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 1024px) {
  .topBar {
    display: none !important;
  }
  .topBarTwo {
    display: block !important;
  }

  #menu-main-menu-1
    .uabb-creative-menu
    ul.sub-menu
    > li.menu-item.uabb-creative-menu
    > .uabb-has-submenu-container
    > a:hover
    span.menu-item-text {
    color: inherit !important;
  }
}

@media (min-width: 768px) {
  .fs-options {
    background-color: #f9f9f8 !important;
  }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
/* PLP Page Css iPad Air */

@media (max-width: 992px) {
  .menu-open
    .uabb-creative-menu
    ul.sub-menu
    > li.menu-item.uabb-creative-menu
    > a:hover
    span.menu-item-text {
    color: #ea4027 !important;
  }
  .custom_searchModule {
    width: 100% !important;
    max-width: 100% !important;
  }
  .fl-slide-foreground.clearfix {
    display: none;
  }
  .LocationRow .fl-col {
    width: 100% !important;
    max-width: 100% !important;
  }
  .storename .direction > a {
    max-width: 200px;
  }
  ul.store-opening-hrs > li {
    position: relative;
  }
  ul.store-opening-hrs > li > span {
    position: absolute;
    left: 200px;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 33.33%;
  }
  .featured-products
    .featured-product-list
    .featured-product-item
    .prod-img-wrap {
    justify-content: center;
  }
  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  /* Slider height issue on mobile closed */
}

@media (max-width: 767px) {
  .featured-products .featured-product-list .featured-product-item {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img {
    max-height: 240px !important;
  }
  ul.store-opening-hrs > li > span {
    position: absolute;
    left: auto;
    right: 0px;
  }
  .copyRightBar p > span {
    font-size: 11px !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 100%;
  }
}

@media (max-width: 425px) {
  footer .fl-col-group .ColMob_100 {
    width: 100% !important;
  }
  .gform_body .gfield {
    padding-right: 0px !important;
  }
}

a.nav-link {
  color: #000;
}

 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #ea4027 !important;
    color: #ea4027 !important;
}